@import url(./library/libs.css);
body {
  background-color: white;
}

.card-components {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.chips-components {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.badge-components {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
