@import url(./card/card.css);
@import url(./chips/chips.css);
@import url(./badge/badge.css);
@import url(./header/header.css);

:root {
  --light-grey: #ecebe894;
  --dark-red: #cb202d;
  --orange: #fc8019;
  --yellow: #ffc600;
  --green: #008c15;
  --black: #2d2d2d;
  --grey: #4a5b67;
  --red: #e31837;
}
