.header-basic {
  background-color: #e31837;
  display: flex;
  align-items: center;
}

.header-fixed {
  background-color: #e31837;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.header-basic-left,
.header-fixed-left {
  display: flex;
  align-items: center;
}
.header-basic-right,
.header-fixed-right {
  margin-left: auto;
}

.header-basic-icon,
.header-fixed-icon {
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.header-basic-text,
.header-fixed-text {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
